- provide(:title, @user.name)
%span.upper
  %aside
    %section.namae.clearfix
      %span.proposeuserphoto
        - if @user.image.url
          = image_tag @user.image.thumb, :size => "65x65", :class => "userimageuser"
        - else
          = image_tag 'RS=^ADBhf8bg8a_DFSi.jpg', :size => "65x65", :class => "userimageuser"
      %h1.usershowname
        = @user.name
      .follow
        = render 'shared/stats'
        = render 'follow_form' if logged_in?
%ul#myTab.nav.nav-tabs{:role => "tablist"}
  %li.nav-item
    %a.nav-link.active{"aria-controls" => "home", "data-toggle" => "tab", :href => "#home", :role => "tab"} 自分の投稿一覧
  %li.nav-item
    %a.nav-link{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#profile", :role => "tab"} お気に入り投稿一覧
  %li.nav-item
    %a.nav-link{"aria-controls" => "settings", "data-toggle" => "tab", :href => "#settings", :role => "tab"} マッチングした投稿一覧
.tab-content
  #home.tab-pane.active{:role => "tabpanel"}
    - if @my_proposes.empty?
      該当する投稿はありません。
    - else
      - @my_proposes.each do |propose|
        = render 'proposes/propose', propose: propose
  #profile.tab-pane{:role => "tabpanel"}
    - if @my_likes.empty?
      該当する投稿はありません。
    - else
      - @my_likes.each do |propose|
        = render 'proposes/propose', propose: propose
  #settings.tab-pane{:role => "tabpanel"}
    - if @matched_request.empty?
      該当する投稿はありません。
    - else
      - @matched_request.each do |propose|
        = render 'proposes/propose', propose: propose
:javascript
  $(function () {
    $('#myTab a:first').tab('show')
  })

:css
  .usershowname{
    margin-bottom: 10px;
    line-height: 20px;
    float: left;
  }

  .namae{
    margin: 40px;
  }

  .follow{
    float: left;
    padding: 10px 10px 10px 10px;
  }
