.propose_content
  .username
    = link_to propose.user.name, user_path(propose.user)
  .userphoto
    - if propose.user.image.url
      = link_to (image_tag propose.user.image.thumb, :class => "user_image"), user_path(propose.user)
    - else
      = link_to (image_tag 'RS=^ADBhf8bg8a_DFSi.jpg', :size => "50x50", :class => "user_image"), user_path(propose.user)
  .havecurrency
    = propose.amount
    = propose.have_currency.currency
  .have_image
    = image_tag propose.have_currency.image, :size => "17x17"
  .wantcurrency
    = propose.want_currency.currency
  .want_image
    = image_tag propose.want_currency.image, :size => "17x17"
  .likes
    = render 'likes/like', propose: propose
  .propose_detail
    - pinpoint = RequestMatch.find_by(propose_id: propose.id)
    - if !pinpoint.nil? && pinpoint.negotiated == true
      マッチング済みです。
    - else
      = button_to "詳細を見る", propose_path(propose), method: :get
  - if !current_user.nil? && current_user.id == propose.user_id
    .propose_handle
      = link_to "(編集", edit_propose_path(propose)
      = link_to "削除)", propose_path(propose), method: :delete
  .request_condition
  - request_match = RequestMatch.find_by(propose_id: propose.id)
  - if request_match && request_match.negotiated == true
  - elsif request_match && request_match.negotiated == false
    リクエスト送信済み
  - else
    リクエスト待ち


