- provide(:title, '')
.fackoff
  = link_to "新規POST", new_propose_path
- if @proposes == "該当する結果は見つかりませんでした。"
  = @proposes
  = link_to "(前のページへ戻る)", :back
- else
  %ul
    = render @proposes
  .will_paginate
    = will_paginate

