%h1 通貨交換作成
= form_for(@propose) do |f|
  = render 'shared/error_messages', object: f.object
  = f.label :comment, "内容"
  = f.text_field :comment
  -# = f.label :have_currency_id, "所持してる通貨"
  = f.label :amount, "所持通貨の総額"
  = f.number_field :amount, placeholder: "0以上の半角英数字"
  = f.collection_select :have_currency_id, Currency.all, :id, :currency, :prompt => "通貨をお選びください。"
  = f.label :want_currency_id, "欲しい通貨"
  = f.collection_select :want_currency_id, Currency.all, :id, :currency, :prompt => "通貨をお選びください。"
  = f.submit "送信する。"
